/* 
Colors grabbed from Adobe After Effects
1. Bluish-Grey: rgb(112, 128, 144); 
2. Orange:      rgb(255, 141, 64);
*/

/* --OVERALL PAGE STYLING FOR THE BODY TAG--*/
body{
    background-color: black; 
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
}

/* --NAVBAR-- */
.my-nav{
    height: 150px;
    background-color: rgb(112, 128, 144);  
}
/* size and position nav box */
#nav-menu{
    position: absolute; 
    left: 300px;
    top: 50px; 
    background-color: white;
    height: 50px; 
    width: 450px; 
    border-radius: 5px; 
}
/* move drop down menu to the right side of the page */
.navbar-toggler{
    margin-left: auto; 
}
/* move nav menu links down in the box */
.nav-link{
    margin-top: 4px; 
    font-size: 1.1em;

    /* set initial unfocused border to transparent */
    border: 2px solid transparent;
    border-radius: 6px; 
    padding: 4px 10px;
    transition: border-color 0.2s ease, 
                box-shadow 0.2s ease;
}
/* setup hover and focus for nav links */
.nav-link:hover, .nav-link:focus{ 
    border-color: black;
}
/* adjust background box size for dropdown menu and add a border */
@media (max-width: 767px){
    #nav-menu{
        height: 180px;
        border: 2px solid; 
    }
}
/* brand image styling and positioning */
.navbar-brand{
    position: absolute;
    left: -10px;  
    height: 13em; 
    width: 20em;
    background-image: url("../assets/logo.png"); 
    background-size: contain; background-repeat: no-repeat; 
}

/* --MAIN CONTENT-- */
/* main content background box styling */
#main-content{
    background-color: white;
    border-radius: 25px; 
    height: auto;
    max-width: 98%; 
    margin-top: 15px;  
}
/* manually set main content box height when screen size is larger. */
@media (min-width: 767px){
    #main-content{
        height: 650px;
    }
}
/* header styling */
h1{
    color: rgb(255, 141, 64);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 2em; 
}
/* move the text description for "Something Occurs" */
#main-content #something-desc{
    padding-left: 10px; 
    color: grey;
}
/* Setup background color and styling for product columns */
.product-box{
    position: relative;
    background-color: rgb(255, 141, 64);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin-bottom: 40px; 
    color: white; 
}
/* style and place product names */
#product-tiles div div span{
    position: absolute;
    top: -30px; 
    width: 100%;
    text-align: center;
    font-weight: bold; 
    font-size: 1.2em;
    color: black
}

