/* 
Colors grabbed from Adobe After Effects
1. Bluish-Grey: rgb(112, 128, 144); 
2. Orange:      rgb(255, 141, 64);
*/

/* --overall page styling for the body--*/
body{
    background-color: black; 
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
}

/* --navbar and its contents-- */
.my-nav{
    height: 150px;
    background-color: rgb(112, 128, 144); 
    
}
/* brand image styling and positioning */
.navbar-brand{
    position: absolute;
    left: -10px;  
    height: 13em; 
    width: 20em;
    background-image: url("../assets/logo.png"); 
    background-size: contain; background-repeat: no-repeat; 
}

/* --main content and its contents-- */
/* main content background box styling */
#main-content{
    background-color: white;
    border-radius: 25px; 
    height: auto;
    max-width: 98%; 
    margin-top: 15px;  
}
/* manually set main content box height when screen size is larger. */
@media (min-width: 767px){
    #main-content{
        height: 600px;
    }
}
/* header styling */
h1{
    color: rgb(255, 141, 64);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 2em; 
}
/* move the text description for "Something Occurs */
#main-content #something-desc{
    padding-left: 10px; 
}
/* Setup background color and styling for product columns */
.product-box{
    position: relative;
    background-color: rgb(255, 141, 64);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin-bottom: 40px; 
    color: white; 
}
/* style and place product names */
#product-tiles div div span{
    position: absolute;
    top: -30px; 
    width: 100%;
    text-align: center;
    font-weight: bold; 
    font-size: 1.2em;
    color: black
}

